if SHIELD_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL_LEFT || SHIELD_DACTYL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 900000 # 15 minutes (900000 milliseconds)

config ZMK_KEYBOARD_NAME
    default "Dactyl"

config ZMK_BLE
    default y

config ZMK_BATTERY_REPORTING
    default y

endif
